@model FLmvc.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPerson</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.LabelFor(x => x.Firstname, "Förnamn")
            @Html.TextBoxFor(x => x.Firstname)

            @Html.LabelFor(x => x.Lastname , "Eternamn")
            @Html.TextBoxFor(x => x.Lastname)

            @Html.HiddenFor(x => x.Id)
            <button type="submit">Spara</button>
        }
    </div>
</body>
</html>
